<html>
  <head>
    <link style="spreadsheet" href="/css/style.css" />
  </head>
  <body>
     <div class="main-content">
    {{>header}}
    {{data.data}}
    </div>
    {{>footer}}
  </body>
</html>